{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% load static %}
{% load getInfoTag %}
{% block content %}
{% block header %}<link rel="stylesheet" href="{% static 'css/profile_card.css' %}">{% endblock header %}

{% verbatim %}


  <div class="container" id="container-profile">
    
    <div id="loading-gif" style="display: block">
      <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span>Loading</span>
      </div>
    
    </div>
    <div id="others"></div>
  
 

  <script id="titleTemplate" type="text/x-handlebars-template">
    <div class="row row-col-4 g-3">
      
      <h1 class="display-6">My Bookmarks <span class="number-movies">({{getNumberMovies this}})</span>
        <span class="which-not">which i haven't watched</span> 
      </h1>
    
  {{#each this}}
  <input type="hidden" id="media_type-{{movieDB_id}}" value="{{media_type}}">
 <input type="hidden" id="poster_path-{{movieDB_id}}" value="https://image.tmdb.org/t/p/w500/{{poster_path}}">
 <input type="hidden" id="backdrop_path-{{movieDB_id}}" value="https://image.tmdb.org/t/p/w500/{{backdrop_path}}">
  <div class="col-xs-12 col-sm-6S col-md-4 col-lg-2">
    
  <div class="card mb-4 center card-hover" style="max-width: 18rem;">
    <img src="{{poster_path}}"
     class="card-img-top img-fluid rounded-start center " alt="Use Vpn">
     <div class="overlay"></div>
     <div class="card-body center">
      <h5 class="card-title title-profile"><a class="no-underline" href="{{getDetailUrl media_type movieDB_id}}">{{titleSnippet title_movie}}</a></h5>
      <div class="form-check form-switch ">
        <input
        {{#if watched}}checked{{/if}}
        class="form-check-input " type="checkbox" id="watched-{{movieDB_id}}"
        onchange="updateInfo('{{movieDB_id}}',`{{title_movie}}`)"> 
        <label class="form-check-label main-font">Watched</label>
      </div>
      
      <div class="form-check form-switch">
        <input
         {{#if bookmark}}checked{{/if}}
          class="form-check-input"  type="checkbox" id="bookmark-{{movieDB_id}}"
          onchange="updateInfo('{{movieDB_id}}',`{{title_movie}}`)">
        <label class="form-check-label main-font">Bookmarked</label>
      </div>
      <p><small class="text-muted main-font">{{media_type}}</small></p>
      <p><small class="text-muted date-added">{{date_added}} added</small></p>
      
    </div>
  </div>

</div> <!--End Col-->



{{/each}}

</div>

  </script>
{% endverbatim %}
</div> <!--End container-->

<script src="{% static 'js/handlebars-v4.7.7.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/profile_card.js' %}"></script>

{% endblock content %}
