{% extends 'base.html' %}
{% block title %}Websites{% endblock title %}
{% load static %}
{% block header %}{% endblock header %}
  
{% block content %}
<div class="container center"></div>

    

<div class="text-center g-3">
    <h1 class="display-6"><span class="which-not">Websites for download : </span></h1>
    <img src="{% static 'rec_website.jpg' %}" class="rounded" alt="...">
  </div>

</div>


<div class="text-center g-3">
    <h1 class="display-6"><span class="which-not">Download from µTorrent : </span></h1>
  </div>

</div>
{% endblock %}