.card-body2 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    background-color: rgb(240, 248, 255, 0.8);
}

.card:hover .card-body2 {

    visibility: visible;
    opacity: 1;
}