{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6 center" style="align-self: center;">
		<div class="d-flex flex-column">
			 
			  <p class="m-auto lead">Your password has been reset.<br> You may go ahead and <a href="{% url 'login' %}">Login</a> now.</p>
			</div>
		</div>
			<div class="col-md-5 center">
				<img class="img-fluid" src="{% static 'accountsApp/Done-rafiki.svg' %}" alt="Mail-sent-rafiki.svg">
			
	
		</div>
	</div> <!--End row-->
</div>

{% endblock %}