{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="row">
	<div class="col-md-6 center" style="align-self: center;">
	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your <strong>spam</strong> folder.
		  </p>
		  <p class="m-auto p-2 lead "><a href="{% url 'login' %}">Return to home page</a></p>
	</div>
	</div>
		<div class="col-md-5 center">
			<img class="img-fluid" src="{% static 'accountsApp/Mail-sent-rafiki.svg' %}" alt="Mail-sent-rafiki.svg">
		

	</div>
</div> <!--End row-->
</div>

{% endblock %}